<form action="<%= action %>" method="post">
  <%= render "shared/errors", errors: flash[:errors], type: :base %>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
    >
  <label>Username:</label>
  <input
    id="username-input"
    type="text"
    name="user[username]"
    value="<%= user.username %>"
    />
    <%= render "shared/errors", errors: flash[:errors], type: :username %>

  <label>Password</label>
  <input
    type="password"
    name="user[password]"
    id="password-input"
    />
    <%= render "shared/errors", errors: flash[:errors], type: :password %>
  <button ><%= submit_text %></button>
</form>
